@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    /* Kotimaista kalaa color palette */
    --background: 0 0% 96.1%; /* #f5f5f5 grayish white */
    --muted: 0 0% 96.1%; /* #f5f5f5 grayish white */

    --primary: 214 100% 26.9%; /* #003b89 blue */
    --ring: 214 100% 26.9%; /* #003b89 blue */

    --secondary: 211 100% 50.4%; /* #027cff radiant blue */

    --foreground: 0 0% 2.9%; /* #070707 black */
    --card-foreground: 0 0% 2.9%; /* #070707 black */
    --popover-foreground: 0 0% 2.9%; /* #070707 black */

    --card: 0 0% 99.6%; /* #fefefe almost white */
    --popover: 0 0% 99.6%; /* #fefefe almost white */
    --primary-foreground: 0 0% 99.6%; /* #fefefe almost white */
    --secondary-foreground: 0 0% 99.6%; /* #fefefe almost white */
    --accent-foreground: 0 0% 99.6%; /* #fefefe almost white */
    --destructive-foreground: 0 0% 99.6%; /* #fefefe almost white */

    --muted-foreground: 213 16% 35.1%; /* #4b5868 dark grey */
    --accent: 213 16% 35.1%; /* #4b5868 dark grey */

    --destructive: 0 84.2% 60.2%; /* #ef4444 red */

    --border: 0 0% 90%; /* #e5e7eb light grey */
    --input: 0 0% 90%; /* #e5e7eb light grey */

    --radius: 0.5rem; /* 8px */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --admin-side-container-width: 780px;
}

body {
  min-height: 100vh;
  background-color: hsl(var(--background));
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
